.Dashborad_main{
    display: flex;
    flex-direction: row;
    color: var(--NavBar-active-font-color);
    /* font-family: 'Comic Sans MS'; */
   
}
.Dashborad_section{
    /* background-color: var( --background-color); */
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
    /* margin: 2rem; */
    

}
.sidebar_main{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    margin-top: 2rem;
}
.sidebar_page{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'inter';
    padding-top: 3rem;
    padding-right: 2rem;
    display: flex;
    color: var(--sideText-color);
    gap: 1rem;
}
.sidebar_logout{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'inter';
    padding-top: 10rem;
    padding-right: 2rem;
    display: flex;
    color: var(--logout-color);
    gap: 1rem;
    /* height: 56rem; */
}
.logo img{
    color: var(--yellow-color);
}

/* Style for the table */
.table_section{
    /* background-color: green; */
    

}
.userTable_top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10rem;
    padding-bottom: 2rem;
}
.table_search{
    border: 1px solid var(--Table-border-color);
    height: 0.1rem;
    padding: 1rem;
    background-color: var(--background-color);
    border-radius: 1rem;
}
.table_btn{
    /* background-color: var(--logout-color); */
    background-color: #ef4444;
    color: var(--background-color);
    height: 3rem;
    display: flex;
    text-align: center;
    padding: 10px 20px;
    border-radius: 0.2rem;
    
}

  /* Style for table header */
.table_list_a{
    gap: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.table_list{
     padding: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
    overflow-x: auto;
  }



 
  

  
  
  
  /* Media queries for smaller screens */
  @media (max-width: 600px) {

  
  
  }
  