.dashboard{
  background-color: var(--background-color);
  width: 100% !important;

}
.mainContent{
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: var(--Secondary-color);
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  z-index: 1000;
  padding-top: 150px;
  text-align: center;
  /* padding-left: 2rem; */
}
.sideBarIcon{
  margin-top: -25px;
  margin-left: 1rem;
}

.sidebarLink {
  display: block;
  padding: 15px;
  /* color: var(--logout-color); */
  /* color: #22c55e; */
  color: var(--border-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebarLink:hover, .sidebarLink.active {
  background-color: var(--background-color);
}

.logoutButton {
  width: 100%;
  padding: 15px;
  /* background-color: var(--logout-color); */

  color: var(--background-color);
  border: none;
  cursor: pointer;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.usersContainer {
  margin-left: 200px;
  padding: 20px;
}
.userTable {
  width: 30%;
  border-collapse: collapse;
  margin-top: 50px;
  color:  #2c3e50;
}
.userTable th, .userTable td {
  border: 1px solid #2c3e50;
  padding: 8px;
  text-align: left;
  background-color: var(--background-color);
  font-size: 13px;
}
.userActions{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  gap: 300px;
}
.searchIcon{
  display: flex;
  border: 1px solid #2c3e50;
  border-radius: 10px;
  margin-top: 10px;
  width: 300px;
  padding-left: 16px;
  padding-left: 5px;
 
}

.searchInput {
  padding: 5px;
  color: var(--border-color);
}

.deleteSelectedBtn {
  background-color: var(--logout-color);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}
.pagination{
  padding-top: 32px;
  text-align: center;

}

.mobileMenuToggle {
  display: none;
}

/* Responsive Design */
@media screen and (max-width: 480px) {
  .mainContent{
    display: grid;
   grid-template-columns: 1fr;
   background-color: red;
   /* justify-content: center; */
   /* align-items: center; */
  
  }
 
  .sidebar {
    width: 0;
    overflow: hidden;
  }

  .sidebar.mobileMenuOpen {
    width: 250px;
    margin-top: 2rem;
  }

  .mobileMenuToggle {
    display: block;
    position: fixed;
    padding-top: 10px;
    left: 10px;
    z-index: 1100;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .usersContainer {
    margin-left: 0;
  }

  .userTable {
    font-size: 6px;
    /* width: 20%; */
      width: 90%;
      max-width: 600px;
    
   
  }
  .usersContainer {
    /* margin-left: 30px; */
    padding: 20px;
  }

  .searchInput {
    width: 100%;
  }
}
  @media screen and (min-width: 768px)  and ( max-width: 1024){


  }
  @media screen and (min-width: 1025px){



  }
