.res-navbar {
    width: 100%;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
  }
  
  .res-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  
  }
  
  
  
  .res-navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    
  
  }
  
  .res-navbar-item {
  margin-left: 1.5rem;
  font-family: Comic Sans MS;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.3px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  list-style-type: none;
  
  }
 
  
  .res-navbar-link {
    color: var(--menu-bar-color);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
  
    
  }
  
  .res-navbar-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--orange-color);
   
    transition: width 0.3s ease;
  }
  
  .res-navbar-link:hover {
    color: var(--orange-color);
  
   
  }
  
  .res-navbar-link:hover::after {
    width: 100%;
  
    
  }
  /* a.active::after{
    background-image: url(../../public/Svgs/Ball.svg);
    background-repeat: repeat-x;
    background-size: 120px;
  } */
  
  
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: var( --menu-bar-color);
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .menu-icon.open .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-icon.open .bar2 {
    opacity: 0;
  }
  
  .menu-icon.open .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: flex;
    }
  
    .res-nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: var(--background-color);
      padding: 1rem;
    }
  
    .res-nav-menu.active {
      display: flex;
    }
  
    .nav-item {
      margin: 0.5rem 0;
      width: 100%;
      text-align: center;
    }
    .nav_log{
      text-align: center;
      display: flex;
      flex-direction: column;
     margin-right: 50px;
     
     
    }
  }
  